div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') hack-edu16

    div#navbar-main.navbar-collapse.collapse(uib-collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in nav.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}
